* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  .form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-group input[type="submit"] {
    background-color: #4CAF50;
    color: #000000;
    cursor: pointer;
    font-weight: bolder;
  }

  @media (max-width: 480px) {
    .form-container {
      max-width: 300px;
    }
  }